<!-- At medium and above widths, simulate a magazine laid flat, with two side-by-side full-height components -->
<!-- These will most likely be two <MagazinePage /> components -->
<div
  class="w-full flex flex-wrap lg:flex-nowrap">
  <slot />
</div>
