---
import HeroSplash from "@components/HeroSplash.astro";
import BifoldSplash from "@components/BifoldSplash.astro";
import bg from "@assets/index_backgrounds.json";
---
<HeroSplash 
  title="Gucci Tennis Collection"
  bg={bg[0]}
>
  <div class="flex flex-wrap space-x-3">
    <button class="btn btn-base-100 w-28">FOR YOU</button>
    <button class="btn btn-base-100 w-28">FOR US</button>
  </div>
</HeroSplash>
<BifoldSplash />
<HeroSplash 
  title="Gucci Flora Gorgeous Orchid"
  bg={bg[3]}
>
  <button class="btn rounded-sm glass btn-base-200 outline outline-1 outline-white text-white w-64 opacity-85">EXPLORE NEW IN</button>
</HeroSplash>
