---
import Bifold from "@layouts/magazine/Bifold.astro";
import MagazinePage from "@components/magazine/MagazinePage.astro";
---
<!-- A side-by-side full screen hero component, turns into full-screen cards if narrow width -->
<div
  class="hero min-w-screen">
  <Bifold>
    <MagazinePage>
      <div class="h-screen" >
        <span>Mega Winter 2025</span>
      </div>
    </MagazinePage>
    <MagazinePage>
      <div class="h-screen" >
        <span>Chainsaws 2024</span>
      </div>
    </MagazinePage>
  </Bifold>
</div>
