<div class="navbar bg-base-100 sticky top-0 xl:px-64 z-10">
  <div class="flex-1">
    <a class="btn btn-ghost text-3xl">G U C C I</a>
  </div>
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
        <svg fill="none" height="24" viewBox="0 0 24 24" width="24" stroke="#374151" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 11V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V11M5 9H19L20 21H4L5 9Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        </svg>
    </button>
    <button class="btn btn-square btn-ghost">
      <svg class="inline-block h-5 w-5 stroke-current" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path
          stroke-width="0.15"
          d="M20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20C13.94 20 15.72 19.31 17.1 18.16L18.94 20L20 18.94L18.16 17.1C19.31 15.72 20 13.94 20 12ZM12 18.5C8.42 18.5 5.5 15.58 5.5 12C5.5 8.42 8.42 5.5 12 5.5C15.58 5.5 18.5 8.42 18.5 12C18.5 15.58 15.58 18.5 12 18.5Z" fill="#374151" />
      </svg>
    </button>
      <button class="btn btn-square btn-ghost">

        <svg 
          fill="none" 
          height="20" 
          viewBox="0 0 20 20" 
          height="24"
          width="24"
          xmlns="http://www.w3.org/2000/svg">
          <g fill="#374151">
            <path d="m2 4.5c0-.27614.22386-.5.5-.5h15c.2761 0 .5.22386.5.5s-.2239.5-.5.5h-15c-.27614 0-.5-.22386-.5-.5z"/><path d="m2 9.5c0-.27614.22386-.5.5-.5h15c.2761 0 .5.22386.5.5s-.2239.5-.5.5h-15c-.27614 0-.5-.22386-.5-.5z"/>
            <path d="m2.5 14c-.27614 0-.5.2239-.5.5s.22386.5.5.5h15c.2761 0 .5-.2239.5-.5s-.2239-.5-.5-.5z"/>
          </g>
        </svg> 
           
      </button>
  </div>
</div>
