<!-- A full-height, full width magazine page -->
<!-- This is just a template, but useful for creating layouts -->

<div class="w-full h-full text-center outline m-auto bg-base-300">
  <p class="text-[6px]">Margin</p>
  <div class="w-[98%] h-[98%] m-auto bg-base-200">
    <p class="text-[6px]">Padding</p>
    <div class="w-[97%] h-[98%] m-auto bg-base-100 outline outline-1 rounded flex flex-col">
      <slot />
    </div>
  </div>
</div>
